<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>
  	<h3>Name:</h3> <%= @name %>
  	<h3>email:</h3> <%= @email %>
  	<h3>Comment:</h3> <%= @feedback %>
  </body>

</html>