<%= stylesheet_link_tag "about.css" %>

<div class="about-body">
	<p class="about-header">About</p><hr>
	<div class="about-leftside">
		<p><span>About The K Network</span></p>
		<p> The K Network is a 501(c)3 non-profit with the mission to empower learners worldwide to take control of their education – for free. The K Network is hosting The Knowledge Corps Initiative.
		</p>
		<p><span>About The Knowledge Corps</span></p>
		<p>The Knowledge Corps is an initiative to allow communities to raise money and create local mandates to bring innovation to local schools and school systems. People “vote” with a small donation and their location / their school / their school district. This system creates a “money where your mouth is” petition for innovative education initiatives.
		</p>
	</div>
	<div class="about-rightside">
		<p><span> About Project #1: Bring Khan Academy into the class-room</span></p>
		<p>Knowledge Corps initiatives must be 100% free for all schools, teachers, parents and students. Khan Academy meets this requirement. By raising money for a school or school district, community members are opening up the possibility of using this money for Project #1. The money may also be kept as resources available for future projects.
		</p>
		<p>More detailed info on Project #1 is in the <%= link_to "FAQ", faq_path(:projects => true) + "#projects" %>.
		</p>
		<p><span>About Project #2 and future projects</span></p>
		<p>	Knowledge Corps users can find projects and add
			them to the list of possible uses for monies raised for
			a community. The Knowledge Corps will maintain a
			list of these projects. In the future, as the website
			and the user base evolves, it may be possible to more
			clearly tie dollars donated to a specific project. The
			Knowledge Corps is in alpha right now.
		</p>
	</div>
</div>